{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
<h1>Bienvenue !</h1>
    {% if mot %}
    <p>{{mot|length}} derniers lieux enregistrés :</p>
        <ul>
            {% for mot_terme in mot %}
                <li><a href="{{url_for('mot', mot_terme=mot.mot_id)}}">{{mot.mot_terme}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
{% endblock %}
