{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
<h1>Bienvenue !</h1>
    {% if mots %}
    <p>{{mots|length}} derniers mots enregistrés :</p>
        <ul>
            {% for mot in mots %}
                <li><a href="{{url_for('mot', mot_id=mot.mot_id)}}">{{mot.mot_terme}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
{% endblock %}
