<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Sortiaria — {{ mot.mot_terme }}</title>
         </titleStmt>
         <publicationStmt>
            <p>Sortiaria est un dictionnaire en ligne développé par Marie-Laurence Bonhomme, Léa
               Frering, Armâne Magnier et Alyx Taounza-Jeminet en Master 2 Technologies numériques
               appliquées à l'histoire à l'École nationale des chartes.</p>
         </publicationStmt>
         <sourceDesc>
            <p> </p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <entry>
            <form>
               <orth>{{ mot.mot_terme }}</orth>
               <pron>{{ mot.mot_phon }}</pron>
            </form>
            <gramGrp>
               <pos>{{ mot.mot_gram }}</pos>
               <gen>{{ mot.mot_genre }}</gen>
            </gramGrp>
            <sense><def>{{ mot.mot_def }}</def></sense>
{% for com in coms %}
            <note>
                <label>{{ com.commentaire_titre }}</label>
                <p>{{ com.commentaire_texte }}</p>
                {% if com.commentaire_source %}<bibl>{{ com.commentaire_source }}</bibl>{% endif %}           
            </note>
{% endfor %}
         </entry>
      </body>
   </text>
</TEI>
